# Entorno virtual
env/
venv/

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos multimedia (se excluye media general pero se incluye media/portadas/ para entrega)
media/*
!media/portadas/

# Base de datos local SQLite
*.sqlite3